<h1 class="small-12 columns">All Genres</h1>

<ul>
<% @genres.each do |genre| %>
<li><%= genre.name %><br><% genre.games.each do |game| %>
  <%= link_to game.title, game_path(game) %>
</li>
<% end %>
<% end %>
</ul>
