<h1><%= @console.name %></h1><br>

<ul>
Year Released: <%= @console.year_released %><br>
Games: <% @console.games.each do |game| %>
      <li><%= link_to game.title, game_path(game) %></li>
      <% end %>
</ul>
