<div class="row">
  <h1 class="small-12 columns">All Players</h1>

  <% @users.each do |user| %>
    <div class="index_profile small-12 large-4 columns">
      <div class="background">
        <img src="<%= user.avatar %>"><%= link_to user.name, user_path(user) %>
      </div>
    </div>
  <% end %>
</div>
