<h1>Add a Game to Your Collection!</h1>

<%= fields_for :user_game do |user_game_fields| %>
  Game: <%= user_game_fields.collection_select :game_id, Game.all, :id, :title %>
  Is this game available to exchange? <%= user_game_fields.check_box :available, {}, true, false %>
  <%= user_game_fields.submit %>
<% end %>
